body {
    background-color: lightblue

}

p{
    color: red;
}
.MainTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.MainTable td, .MainTable th {
    border: 1px solid black;
    padding: 24px;
}